.login-page{
    height: 60vh;
    width: calc(100vw-40px);
    box-shadow: 2px 2px 5px gray;
    justify-content: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    /* align-items: center; */
}
.form-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 55vh;
    border: 1px solid gray;
    gap: 20px;
    padding-bottom: 20px;
}

#loginbtn{
    cursor: pointer;
    width: 15vw;
    height: 4vh;
    border: none;
    box-shadow: 2px 2px 5px gray;
    background-color: #4287f5;
    color: white;

}
.heading-login{
    font-size: 2.5em;
    font-family: 'Roboto Mono', monospace;
}
.signup-here{
    color: #4287f5;
    text-decoration: underline;
}
.signup-here:hover{
    cursor: pointer;
}
.dont-have-account{
    font-size: 1em;
}
.errors{
    color: red;
}

