.navigate-part{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100vw-40px);
    box-shadow: 2px 3px 5px gray;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15vw;
    padding-right: 15vw;
}
.all,.electronics,.jewelery,.men-cloth,.women-cloth{
    font-size: 1em;
    text-shadow: 1px 1px 2px black;
}
.all:hover,.electronics:hover,.jewelery:hover,.men-cloth:hover,.women-cloth:hover{
    cursor: pointer;
    opacity: 0.5;
}

@media only screen and (max-width:500px){
    .navigate-part{
        padding-left: 0px;
        padding-right: 0px;
    }
    

}