.footer{
  
    width: calc(100vw-40px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    box-shadow: 3px 3px 5px gray;
    position: relative;
    bottom: 0;
    z-index: 1;
    
}
.firstpart{
    color: blue;
}
.lastpart{
    color: black;
}




@media only screen and (max-width:500px){
    .footer{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    

}