.signup-main{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
}
.signup-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
    width: 50vw;
    border: 1px solid gray;
    gap: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sign-up-btn{
    cursor: pointer;
    width: 25vw;
    height: 5vh;
    border: none;
    box-shadow: 2px 2px 5px gray;
    background-color: #4287f5;
    color: white;
 
}
input{
    width: 25vw;
    height: 4vh;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
   
}
.errors{
    color: red;
}
.login-here{
    color: #4287f5;
    text-decoration: underline;
}
.login-here:hover{
    cursor: pointer;
}
.already-have-account{
    font-size: 1em;
}
.signup-heading{
    font-size: 1.5em;
    font-family: 'Roboto Mono', monospace;
}
@media only screen and (max-width:700px){
    input{
        width: 44vw;
    }
    .signup-sec{
        width: 70vw;
    }
    
    }

    @media only screen and (max-width:300px){

        .signup-sec {
            width: 70vw;
        }
    }
