.prd-main{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60vw;
    border: none;
    box-shadow: 3px 3px 8px grey;
    gap: 1em;
    border-radius: 5px;
    padding-bottom: 1.5em;
}
.prd-img-top {
    width: 25vw;
    height: 35vh;
    margin-bottom: 2vh;
}
.prd-fav-part{
    cursor: pointer;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 7.5em;
    padding-top: 1em;

}
.prd-title{
    font-size: 1em;
}
.prd-add-cart{
    display: flex;
    gap: 1em;
    width: auto;
    height: auto;
    padding: 1em;
    background-color: #1961e6;
    color: azure;
    border: none;
    box-shadow: 2px 2px 5px gray;
    align-items: center;
}